*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #2c2c2c;
}

.main{
    width: 38%;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

.nav, .favoritos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span, .menu span, .favoritos span{
    margin-right: 10px;
    font-size: 30px;
}

.body_titulo p{
    padding: 10px;
}

p span{
    font-weight: bold;
}

.logo_titulo{
    font-weight: bold;
}


img{
    width: 100%;
    
}
p > span{
    font-weight: bold;
}

.decripcion p{
    padding: 10px;
}
